@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.btn-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-heading{
    margin: 0 0 10px 0;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.primary{
    width: 81px;
    height: 36px;
    gap: 0px;
    border:none;
    border-radius: 6px;
    background-color:#3D5AFE;
    outline-width: 0;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}
.graybtn{
    color: #3F3F3F;
    background-color: #E0E0E0;
}
.graybtn:is(:hover,:focus){
    outline-width: 0;
    background-color: #AEAEAE;
}
.outline{
    color: #3D5AFE;
    background-color: #ffffff;
    border: 1px solid #3D5AFE
}
.outline:is(:hover,:focus){
    background-color:#2962FF1A;
}
.text{
    color: #3D5AFE;
    background-color: #ffffff;
}
.text:is(:hover,:focus){
    outline-width: 0;
    background-color:#2962FF1A;
}
.disabled{
    cursor: not-allowed;
    color:#9E9E9E;
    background-color: #E0E0E0;
}
.disabled:is(:hover,:focus){
    background-color: #ffffff;
}