@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.btn-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-width{
    width: 14rem;
}
.btn-heading{
    margin: 0 0 10px 0;
    width: 280px;
    height: 12px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
.colrBlack{
    color: #000000;
}
.primary{
    width: 81px;
    height: 36px;
    gap: 0px;
    border:none;
    border-radius: 6px;
    background-color:#3D5AFE;
    outline-width: 0;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}
.bg-secondary{
    width: 12rem;
    background-color: #2962FF;
}
.column6{
    display: flex;
    gap: 7rem;
}
.column7{
    display: flex;
}
.graybtn{
    color: #3F3F3F;
    background-color: #E0E0E0;
}
.graybtn:is(:hover,:focus){
    outline: 0;
    background-color: #AEAEAE;
}
.outline{
    color: #3D5AFE;
    background-color: #ffffff;
    border: 1px solid #3D5AFE
}
.outline:is(:hover,:focus){
    outline: 0;
    background-color:#2962FF1A;
}
.text{
    color: #3D5AFE;
    background-color: #ffffff;
}
.text:is(:hover,:focus){
    outline: 0;
    background-color:#2962FF1A;
}
.disabled{
    cursor: not-allowed;
    color:#9E9E9E;
    background-color: #E0E0E0;
}
.disabled:is(:hover,:focus){
    outline: 0;
    background-color: #fff;
}
.btnIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 105px;
    height: 36px;
}
.btnIconLeft{
    flex-direction: row;
}
.btnIconRight{
    flex-direction: row-reverse;
}
.cartImg{
    width: 18px;
    height: 16px;
    color:#FFFFFF;
}
.btnsm{
    width: 73px;
    height: 32px;    
}
.btnmd{
    width: 81px;
    height: 36px;    
}
.btnlg{
    width: 93px;
    height: 42px;    
}
.btn-primary{
    background-color: #2962FF;
}
.btn-primary:is(:hover, :focus){
    outline: 0;
    background-color: #0039CB;
}
.btn-secondary{
    background-color: #455A64;
    width: 104px;
    height: 36px;    
}
.btn-secondary:is(:hover, :focus){
    outline: 0;
    background-color: #1C313A;
}
.btn-danger{
    background-color: #D32F2F;
}
.btn-danger:is(:hover, :focus){
    outline: 0;
    background-color: #9A0007;
}